body {
  color: #000000; /*black*/
  font: 14px Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 25px;
}

figure.map {
  float: left;
  padding: 30px;
  margin: 20px 0 20px 60px;
}

figure.satellite {
  float: right;
  padding: 30px;
  margin: 20px 60px 20px 0;
}

figcaption {
  color: #000000; /*black*/
  font: bold italic 12px Helvetica, Arial, sans-serif;
  padding: 2px;
  margin-bottom: 2px;
}

h1, h2 {
  text-align: center;
}

h1 {
  color: #ffc72c; /*bahamas yellow*/
  font: 90px "Bebas Neue", sans-serif;
  background-color: #00778b; /*bahamas blue*/
  padding-top: 10px;
  margin-bottom: -5px;
}

h2 {
  color: #00778b; /*bahamas blue*/
  font: bold 30px "Roboto", sans-serif;
  border-bottom: 2px solid #00778b;
  margin: 400px 0 0 0;
}

h2.intro {
  margin: 480px 0 0 0;
}

h3 {
  color: #000000; /*black*/
  font: bold 20px "Roboto", sans-serif;
  margin-top: 10px;
  margin-bottom: -5px;
}

p {
  color: #000000; /*black*/
  font: 14px Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

p.a {
  position: absolute;
  top: 770px;
  left: 20px;
  box-sizing: content-box;
  overflow: scroll;
  float: left;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

p.b {
  position: absolute;
  top: 770px;
  left: 400px;
  box-sizing: content-box;
  overflow: scroll;
  float: center;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

p.c {
  position: absolute;
  top: 770px;
  right: 20px;
  box-sizing: content-box;
  overflow: scroll;
  float: right;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.first {
  position: absolute;
  top: 1210px;
  left: 20px;
  box-sizing: content-box;
  border-style: inset;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.second {
  position: absolute;
  top: 1210px;
  left: 400px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.third {
  position: absolute;
  top: 1210px;
  right: 20px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.firsta {
  position: absolute;
  top: 1650px;
  left: 20px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.seconda {
  position: absolute;
  top: 1650px;
  left: 400px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.thirda {
  position: absolute;
  top: 1650px;
  right: 20px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.firstb {
  position: absolute;
  top: 2090px;
  left: 20px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.secondb {
  position: absolute;
  top: 2090px;
  left: 400px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

.thirdb {
  position: absolute;
  top: 2090px;
  right: 20px;
  box-sizing: content-box;
  overflow: scroll;
  background: #b9d5ea;
  border: 5px solid #00778b; /*bahamas blue*/
  width: 250px;
  height: 250px;
  padding: 20px;
  margin: 20px;
}

ul.environment {
  list-style-type: square;
  margin: 0;
  padding: 10px 0 0 20px;
  text-decoration: none;
}

ol.islands {
  margin: 10px 0 0 20px;
  padding: 5px;
  text-decoration: none;
}

ol.countryname {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 10px;
  text-decoration: none;
}

ol.symbols {
  list-style-type: square;
  margin: 0;
  padding: 10px 0 0 0;
  text-decoration: none;
}

table {
  margin: 7px;
  width: 250px;
}

th {
  padding: 3px;
}

td {
  padding: 10px 10px;
  border: 1px;
  background-color: #ffc72c; /*bahamas yellow*/
}

a,
a:link {
  color: #0099cc; /*lighter blue*/
  text-decoration: none;
}

a:visited {
  color: #A9A9A9; /*dark gray*/
}

a:hover {
  color: #000000;
}

a:active {
  color: #ff0000; /*red*/
}

ol.navigation {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  list-style-type: none;
  font: bold 25px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 20px;
  background-color: #ffc72c; /*bahamas yellow*/
}

li.navigation {
  padding: 20px 40px 20px 40px;
}

li.navigation a {
  display: block;
  border: 1px solid #00778b; /*bahamas blue*/
  border-radius: 3px;
  text-align: center;
  padding: 0;
}

p.footer {
  text-align: right;
  font: bold 14px Helvetica, Arial, sans-serif;
  padding: 400px 0 20px 0;
  margin: 20px;
}
